- hostname: "web-front"
  ip: "192.168.50.4"
  box: "ubuntu/trusty64"
  apache: "lide.test.conf"
  synced_folders:
    - src: "/path/to/lide" # TO CHANGE
      dest: "/home/vagrant/LIDE"
      type: "symfony_app" # Permet d'activer la creation automatique des schemas en base avec symfony
      options:
        :create: true
        :owner: www-data
        :group: vagrant
        :mount_options: ['dmode=0775', 'fmode=0775']
  provision:
    - "provision/common/common.sh"
    - "provision/apache/apache2.sh"
    - "provision/mariadb/mariadb.sh"
    - "provision/php/php7.2.sh"
    - "provision/misc/misc-web.sh"

- hostname: "web-back"
  ip: "192.168.50.5"
  box: "ubuntu/trusty64"
  apache: "lide-pma.conf"
  docker:
    - "gpp" # Le nom du dockerfile sera le nom de l'image sur le guest
  synced_folders:
    - src: "/path/to/lide-project-manager-app" # TO CHANGE
      dest: "/home/vagrant/lide-pma"
      type: "symfony_metier"
      options:
        :create: true
        :owner: www-data
        :group: vagrant
        :mount_options: ['dmode=0775', 'fmode=0775']
  provision:
    - "provision/common/common.sh"
    - "provision/docker/docker.sh"
    - "provision/apache/apache2.sh"
    - "provision/php/php7.2.sh"
